<!-- This is the default email used when previewing the mailer -->

<p> <%= t('.dear') + " " + t('app_title') + "," %> </p>
<p> <%= t('.emailContent') %> </p>

<dl>
  <dt>Name:</dt>
  <dd> <%= @name %> </dd>

  <dt>Email:</dt>
  <dd> <%= @email %> </dd>

  <dt>Telephone:</dt>
  <dd> <%= @telephone %> </dd>
</dl>

<p> <%= @message %> </p>

<p>Thanks,</p>
<p> <%= @name %> </p>
