<p> <strong>Album:</strong> <%= @picture.album.title %> </p>

<p> <strong>Title:</strong> <%= @picture.title %> </p>

<p> <%= image_tag @picture.image.url(:large) %> </p>

<p> <strong>Date:</strong> <%= @picture.date %> </p>

<%= link_to 'Back', album_path(@picture.album_id) %>
