<!-- Displays one of the selected picture from an album -->

<p> <strong><%= t('.album') %></strong> <%= @picture.album.title %> </p>

<p> <strong><%= t('.title') %></strong> <%= @picture.title %> </p>

<p> <%= image_tag @picture.image.url(:large) %> </p>

<p> <strong><%= t('.date') %></strong> <%= @picture.date %> </p>

<%= link_to t('.back'), album_path(@picture.album_id) %>
