<!DOCTYPE html>
<html>
  <head>
    <title> <%=t('app_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="content"> <%= yield %> </div>

    <%= render 'shared/footer' %>
  </body>
</html>
